﻿@{
    ViewBag.Title = "About";
    ViewBag.Enzo = "There is Enzo Grassi.";
    ViewBag.Jonathan = "There is Jonathan Varela .";
    ViewBag.Yusuf = "There is Yusuf Yildirim.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Enzo</h3>



<h3>@ViewBag.Jonathan</h3>



<h3>@ViewBag.Yusuf</h3>




